.green{
    margin-top: 20px;
    color: #fff;
    width: 100%;
    border: none;
    background-color: #9FD2AA;
    border-radius: 12px;
    box-shadow: 0px 6px 12px -6px #000000;
}

.orange{
    margin-top: 20px;
    color: #fff;
    width: 100%;
    border: none;
    background-color: #FF8811;
    border-radius: 12px;
    box-shadow: 0px 6px 12px -6px #000000;
}

.orange, .green > p{
    font-weight: bold;
    font-size: 14px;
}