.calendar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sdp{
    width: 100% !important;
    --shadow: none !important;
    --theme-color: #FF8811 !important;
}

.sdp :focus{
    border: none !important;
}