.calendar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sdp{
    width: 100% !important;
    --shadow: none !important;
    --theme-color: #FF8811 !important;
    padding: 0!important;
}

.sdp :focus{
    border: none !important;
}

.calendar form{
    margin-bottom: 20px;
    margin-top: 20px;
}