:root{
  --color-white: #FFFFFF;
  --text-dark: #253141;
}
@font-face {
  font-family: Nunito;
  src: url(./font/Nunito_Sans/NunitoSans-Regular.ttf);
}

body{
  font-family: Nunito;
  color: var(--text-dark);
  max-width: 100vw;
  padding: 0.5rem 1rem;
  margin: 0;
  padding-bottom: 75px;
}

h1{
  font-size: 1.25rem;
}

h2{
  font-size: 1.1rem;
}
